*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
*::-webkit-scrollbar{
    background: #15141a;
    width: 6px;
}
*::-webkit-scrollbar-thumb {
    background: yellowgreen;
    width: 5px;
    border-radius: 6px;
    opacity: 0.6;
}

body{
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #0d260f;
    font-family: 'Montserrat', sans-serif;
}

.abrir__menu, 
.cerrar__menu {
    display: none;
}

#header__logo{
    text-decoration: none;
}

.logo__h2{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding-left: 9px;
}

.logo__h2--span{
    border-bottom: 3px solid yellowgreen;
}

.nav__list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav__list a{
    text-decoration: none;
    color: white;
}
.nav__list a:hover {
    border-bottom: 2px solid yellowgreen;
}

/* INDEX */
.hero___content--grid{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}
.hero__text{
    padding: 0 19%;
}

.hero__a {
    color: white;
    text-decoration: none;
}

.hero__a i{
    color: red;
}

.hero__a:hover,
.hero__a i:hover {
    color: #0d6efd;
}

.hero__img img{
    width: 500px;
    height: auto;
}

.div__redes{
    position: absolute;
    top: 50%;
}

.div__redes a{
    text-decoration: none;
}

.div__redes i{
    display: block;
    margin: 10px;
    padding: 0 20px;
    font-size: 25px;
}

.div__redes i:hover {
    color: yellowgreen;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

/* GALLERY */
#textoBusqueda{
    border: none;
    font-family: 'Montserrat', sans-serif;
}
#btnBuscar{
    background-color: yellowgreen;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.gallery__div{
    flex: 25%;
}

.gallery__div img {
    width: 100%;
    height: auto;
    padding: 10px;
}

.masFotos{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #6f42c1;
    font-size: 19px;
    font-weight: 600;
}

/* ABOUT */
.infoAbout__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.infoAbout__div--1,
.infoAbout__div--2 {
    flex-basis: 48%;
    margin-bottom: 20px;
}

.infoAbout__text {
    padding: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

/* REDES */
.social-icons i:hover{
    font-size: 21px;
    color: yellowgreen;
}

/* Medida para "TABLET"  */
@media (max-width: 700px){
    .abrir__menu,
    .cerrar__menu {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
    
    .abrir__menu{
        font-size: 30px;
    }
    
    .cerrar__menu{
        font-size: 31px;
    }

    .nav__container{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #0d260f;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1000;
    }

    .nav__container.visible {
        opacity: 1;
        visibility: visible;
        z-index: 1000;
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
    }
    
    .nav__list a:hover {
        border-bottom: none;
        color: yellowgreen;
    }

    /* INDEX MAIN */

    .hero___content--grid{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .hero__text{
        padding-top: 115px;
    }

    .hero__img{
        text-align: center;
    }

    .hero__img img{
        width: 500px;
        height: auto;
    }
    
    .hero___content--grid{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    /* ABOUT */
    .infoAbout__div--1,
    .infoAbout__div--2 {
        flex-basis: 100%;
    }

    /* GALLERY */
    .gallery{
        padding: 10px;
    }
    .gallery__div{
        flex: 85%;
    }
}